:root {

    --clr-banana-background: #cee7ff;
    --clr-black: #000000;

    --clr-secondary: #4488aa;

    --clr-text: #222222;
    --clr-text-light: #ffffff;

    --clr-footer: #d8d8d8;

    --banana-yellow1: #FBDA3F;
    --banana-yellow2: #EBB824;
    --outline-brown: #4F2902;
    --detail-brown: #683C11;

}