@media (max-width: 768px) {

    .hero {

        height: 220px;

    }

    .hero-title {

        font-size: 2rem;

    }

    .navbar {

        flex-wrap: wrap;

        gap: 1rem;

    }

    .content {

        padding: 1rem;

    }

    .hero-title {
        position: absolute;

        z-index: 3;

        bottom: 20px;

        left: 50%;
        transform: translateX(-50%);

        color: var(--clr-banana-yellow1);

        font-size: clamp(var(--fs-lg), 7vw, var(--fs-xxl));

        white-space: nowrap;

        -webkit-text-stroke: 0px var(--clr-outline-brown);
    }

    .social-links {
        display: flex;
        padding: 2rem;
    }

    .news-card {
        width: 100%;
    }
}