.hidden {
    display: none;
}

.center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.bg-white {
    background-color: white;
}

.title {
    font-family: var(--font-heading);
    font-size: var(--fs-lg);
}

.bg-black {
    background-color: black;
}

.bg-dark-grey {
    background-color: var(--clr-dark-grey);
}

.bg-sky-blue {
    background-color: var(--clr-sky);
}

.bg-toa{
    background-color: var(--clr-toa-grey);
}

.bg-skull-knight{
    background-color: var(--clr-skull-knight-green);
}