.navbar {

    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
    gap: var(--space-lg);

    padding: var(--space-md);

    background: var(--clr-black);

    z-index: 100;

}

.navbar a {

    color: var(--clr-text-light);

    text-decoration: none;

    font-weight: 600;

}