.navbar {

    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
    gap: var(--space-xl);

    padding: var(--space-md);

    background: var(--clr-banana-yellow1);

    border-bottom: 2px solid var(--clr-black);
    z-index: 100;

}

.navbar a {

    color: var(--clr-text-light);
    text-decoration: none;
    font-weight: 600;

    text-align: center;
    background: var(--clr-black);

    padding: var(--space-md);
    border-radius: var(--radius-md);

    border: 3px solid black;
    min-width: 10%;
}

.navbar a:hover {
    background-color: var(--clr-sky);
    color:black;
    border: 3px solid black;
}